
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Quattrocento", serif;
  color: white;
  /* overflow-x: hidden; */
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  transition: all 0.3s ease-in;
}

body {
  background: #000;
  width: 94%;
  margin-inline: auto;
}
.logo img {
  width: 180px;
  height: 65px;
  object-fit: scale-down;
  margin-left: -30px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  padding-inline: 30px;
  /* border: 1px solid darkblue; */
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 70px !important;
}

ul,
.socialmedia {
  display: flex;
  list-style: none;
  gap: 2vw;
}

ul li a,
a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  text-transform: uppercase;
}

ul li a:hover,
i:hover {
  transition: all 0.2s ease-in;
  color: #f24c4c;
}
.socialmedia a i {
  font-size: 2.4vw;
}
li:active,
i:active {
  transform: scale(0.9);
}

.logo h5 {
  font-size: 2vw;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.hero {
  background: url(./images/bghero2.jpg);
  width: 100%;
  height: 87vh;
  background-position: center;
  background-size: cover;
  margin-top: 70px !important;
  display: flex;

  align-items: center;
}

.hero .content {
  display: flex;
  width: 50%;
  padding: 50px;
  gap: 20px;
  flex-direction: column;
}
.content h1 {
  font-size: 5.5vw;
  font-weight: 600;

  /* font-family: Inter, sans-serif; */
  letter-spacing: 4px;
}

.hero hr {
  border: 4px solid #f24c4c;
  width: 66%;
}

.hero p {
  font-size: 2vw;
  font-family: cursive;
}

.lorem p {
  font-size: 1.3vw;
  font-family: monospace;
}
.about_us {
  /* text-align: center; */
  overflow-x: hidden;
}

.about_us_h1 hr {
  border: 4px solid #f24c4c;
  width: 16%;
}

.about_us_h1 {
  /* text-align: center; */
  /* text-align: center; */
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.about_us_h1 h1 {
  font-size: 2vw;
  font-weight: 300;
}

.about_us_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 77%;
  margin: 0 auto;
}

.about_us_grid img {
  width: 500px;
}
.about_us_grid .lorem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  gap: 15px;
}

.lorem hr {
  border: 2px solid #f24c4c;
  width: 81%;
  display: flex;
  /* flex:left; */
  margin-right: 100px;
}

.menu_section {
  width: 77%;
  margin-inline: auto;
}

.menu_section .explore_para {
  margin: 40px 2vw;
  font-weight: 300;
  font-size: 1.3vw;
  font-family: Poppins, sans-serif;
  text-align: center;
  text-decoration: underline dotted;
  color: yellow;
  font-weight: 400;
}
.card div {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  width: 462px;
  gap: 20px;
  margin: 0 auto;
}
.card img {
  width: 80%;
  height: 154px !important;
  border-radius: 10px;
  /* overflow: hidden; */
}

.menu_card {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.carousel {
  width: 87%;
  margin: 0 auto;
  /* height: 200px; */
}
.carousel img {
  width: 84%;
}
.carousel_img_div {
  display: flex;
  align-items: center;
}
.carousel_img_div i {
  font-size: 40px;
}

.dots {
  text-align: center;
  margin: 30px 0;
}
.dots span:nth-child(1) {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #6f6666;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.gallery_grid {
  display: flex;
  /* margin-bottom: 300px; */
  /* overflow-x: hidden;     */
  object-fit: fill;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
}

.gallery {
  width: 90%;
  margin-inline: auto;
}
@media (max-width: 900px) {
  .gallery {
    width: 55%;
  }
  
}


.col1 img {
  width: 700px;
  height: 540px;
  border-radius: 10px;
  margin: 5px;
}
.col2 img {
  width: 275px;
  border-radius: 10px;
  height: 175px;
  margin: 5px;
}
.col3 img {
  width: 274px;
  border-radius: 10px;
  height: 265px;
  margin: 5px;
  object-fit: fill;
}
.col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2_main {
  display: flex;
}

.card h4 {
  color: orange;
  margin-bottom: 6px;

}

.card p {
  font-size: 1.6vh;
  width: 89%;
  height: 100%;
  display: flex;

  text-align: left;
  font-family: system-ui;
}

.find_us {
  width: 84%;
  margin-inline: auto;
}
.location {
  display: grid;
  /* columns: 6 6 ; */
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin-inline: auto;
  gap: 40px;
  margin-bottom: 85px;
}
.map {
  height: 300px;
  width: 500px;
  border-radius: 20px;
}
.location .left {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 17px;
  opacity: 0.9 !important;
}
.leftlorem {
  letter-spacing: 1px;
  opacity: 0.9 !important;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 19px;
  font-family: monospace;
  font-weight: 500;
}

footer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 100px;
  height: 83px;
}
.footer_mail_call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}
.footer_mail_call i {
  font-size: 3.8vw;
}
.footer_mail_call p {
  display: flex;
  align-items: center;
  word-spacing: 20px;
  gap: 30px;
  width: 300px;
}
.footTextSize{
  font-size: 22px;
}
@media (max-width: 1100px) {
  .location {
    display: grid;
    /* columns: 6 6 ; */
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .footTextSize{
    font-size: 18px;
  }
  
  .footer_mail_call p {
    width: 200px;
    gap: 15px;
  }
  footer p span i {
    font-size: 7vw;
  }
  footer img {
    width: 60px;
    height: 50px;
  }
  header {
    height: 50px;
    padding: 15px 30px;
  }
  header .links {
    display: none;
  }
  .about_us_grid .lorem {
    padding-right: 15px;
  }
  .lorem p {
    font-size: 2vw;
  }
  .footTextSize{
    font-size: 13px;
  }
  .lorem hr {
    width: 20vw;
  }
  .about_us_grid img {
    width: 249px;
  }
  .hero {
    height: auto;
    margin: 0 auto;
  }
  .hero p {
    font-size: 3.2vw;
  }

  .gallery_grid {
    flex-wrap: wrap;
  }
  .col1 img {
    width: 600px;
    height: 400px;
  }
  .about_us_h1 h1 {
    font-size: 8vw;
  }
  .about_us_h1 hr {
    width: 60%;
    border: 2px solid #f24c4c;
  }
  .map {
    height: 350px;
    width: 500px;
  }
  .logo h5 {
    font-size: 4vw;
  }
  .socialmedia a {
    font-size: 4vw;
  }
  .hero .content {
    width: 80%;
  }
}

@media (max-width: 500px) {

  .content h1{
    font-size: 7.5vw;
  }

  .socialmedia a i {
    font-size: 4vw;
  }
  footer {
    gap: 60px;
  }
  .hero {
    background: url(https://images.unsplash.com/photo-1593504049359-74330189a345?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGl6emF8ZW58MHx8MHx8fDA%3D);
    /* flex-direction: row; */
    height: 70vh;
    object-fit: cover;
  }
  .menu_section .explore_para {
    margin: 30px 5px;
    font-size: 3.5vw;
    text-align: center;
    text-decoration: underline dotted;
    color: yellow;
    line-height: 17px;
  }
  .hero p {
    font-size: 5.2vw;
  }
  .logo img {
    height: 50px;
  }
  .about_us_h1 {
    margin: 80px 0;
  }

  .hero .content {
    width: 100%;
  }
  .col1 img {
    width: 380px;
    height: 400px;
  }
  .col2 img {
    width: 180px;
  }
  .col3 img {
    width: 180px;
  }
  .map {
    height: 250px;
    width: 330px;
  }
  .find_us {
    width: 100%;
    margin-left: -10px;
  }
  .about_us_grid {
    width: 100%;
  }
  .card img {
    width: 50%;
  }
  .ultimateTandoori {
    width: 10px;
  }
  .leftlorem{
  font-size: 13px;

  }
}


